@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway&display=swap');

body {
    position: relative;
    min-height: 97vh;
    background-color: #F9EBE1;
    color: #002BEB;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: center;
    margin: 5rem 0;
}

img {
    max-width: 300px;
}

footer {
    position: absolute;
    bottom: 0;
}

nav ul {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin
}

